.profile {
  align-items: center;
  background-image: url("./assets/background.svg");
  background-size: cover;
  border-image: linear-gradient(#727275, #2c2c31) 1;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: profile;
  justify-content: center;
}

.profile-img {
  background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box;
  border: 4px solid transparent;
  border-radius: 80px;
  height: 160px;
  transition: 0.75s;
  width: 160px;
}

.profile-img:hover {
  scale: 1.2;
}

.profile-nome {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.profile span {
  font-size: 12px;
}
